.span3{width: 220px;}
.bg-green {
    background: #5bd5a0;
}
.circle {
    margin: 25px 10px;
    width: 200px;
    color: #fff;
    font-size: 32px;
    line-height: 200px;
    text-align: center;
    height: 200px;
    border-radius: 100px;
}